# Django Core
django
djangorestframework
django-filter
djangorestframework-api-key

# Celery and Redis (Latest working versions)
celery
redis<5.0.0

# External Tools Connectors
requests
requests_ntlm
defusedxml
beautifulsoup4
Jinja2
colorama
pyparsing
pymetasploit3
pexpect
lxml
netaddr
google-generativeai

# Database
psycopg2-binary
django-extensions